
.filter-container{
    position:relative;

    display:block;
    @media screen and (max-width: 480px){
        display: none;
    }

    width : 260px !important;
    min-width: 260px;
    margin:0 .5rem ;
    
    overflow: hidden;
    
    border-radius: 10px;

    color:rgb(0, 0, 0,0.2);
    background-color: rgba(199, 199, 199,0.1);
}