/* theme colors*/
$light: rgb(235, 235, 235);
$light50: rgba(223, 219, 219,80%);
$dark: #212027;
$dark50: #292730;
/* SCSS RGB */
$primary: rgba(0, 61, 91, 1);
$secondary: rgba(0, 121, 140, 1);   
$accent: rgb(48, 136, 142);
$warn: rgba(237, 174, 73, 1);
$danger: rgba(209, 73, 91, 1);
$success: rgb(0, 140, 121);


