<nav class="navbar navbar-expand-lg navbar-fixed-top" >
    <div class="brand-container">
        <div class="logo">SM</div>
        <span class="text" href="#">SocialMovie</span>
        <span class="icone icone-xl hide show-lg " (click)="toggleMenu()"><i class="mdi mdi-dots-vertical"></i></span>
        <li>

            <span class="icone icone-md show-sm hide-md badge-lg hide-lg" badge="7"><i class="mdi mdi-comment"></i></span>
        </li>
    </div>
  @if(showMenu){       
    <div class="collapse navbar-collapse hide-sm" id="navbarSupportedContent" #collapseMenu>
        <ul class="navbar-nav nav-menu">
            <li class="nav-item">
                <span class="icone"><i class="mdi mdi-home"></i></span>
                <a class="nav-link" href="#" [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
            </li>
            <li class="nav-item">
                <span class="icone"><i class="mdi mdi-movie-search-outline"></i></span>
                <a class="nav-link" href="#" [routerLink]="['/search-movie']" [routerLinkActive]="['active']">Search movie ...</a>
            </li>
            <li class="nav-item">
                <span class="icone"><i class="mdi mdi-movie-roll"></i></span>
                <a class="nav-link" href="#" [routerLink]="['/my-movie']" [routerLinkActive]="['active']">My movie</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item mr-2">
                <span class="icone"><i class="mdi mdi-account"></i></span>
                <a class="nav-link " href="#" [routerLink]="['/profile']" [routerLinkActive]="['active']">My profile</a>
            </li>
            <li class="mr-1">
                <span class="icone icone-md icone-lg hide-sm  show-md badge-lg" badge="7"><i class="mdi mdi-comment"></i></span>
            </li>
           
        </ul>
    </div>
  }
    
</nav>